@page "/"
@using Hermes.WASM.Components

<PageTitle>Index</PageTitle>

<div class="h-screen">
    @if (newUser)
    {
        <RegisterForm />
    }
    else if (existingUser)
    {
        <h2>Login</h2>
    }
    else
    {
        <div class="w-full h-screen flex items-center justify-center">
            <div class="max-w-xs items-center">
                <div class="bg-zinc-800 shadow-md rounded px-8 pt-6 pb-8">            
                    <div class="mb-3">
                        <label for="loginButton" class="block text-neutral-100 text-sm font-bold mb-1">Already have an account?</label>
                        <button id="loginButton" class="w-48 bg-purple-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @onclick="(() => existingUser = true)">Login</button>
                    </div>
                    <div>
                        <label for="registerButton" class="block text-neutral-100 text-sm font-bold mb-1">Don't have an account?</label>
                        <button id="registerButton" class="w-48 bg-purple-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @onclick="(() => newUser = true)">Register</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@code {
    private bool existingUser = false;
    private bool newUser = false;
}