@page "/"
<PageTitle>Index</PageTitle>

<div class="w-full h-screen flex items-center justify-center">
    <div class="max-w-xs items-center">
        <div class="bg-zinc-800 shadow-md rounded px-8 pt-6 pb-8 mb-4">
            <div class="">
                <div class="mb-6">
                    <label class="block text-neutral-100 text-sm font-bold mb-2" for="Username">Username</label>
                    <input @bind="UsernameInput" @bind:event="oninput" class="w-48 shadow appearance-none bg-zinc-200 border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
                </div>
                <button class="w-48 bg-purple-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" @onclick="SubmitUsername">Idk</button>
            </div>
        </div>
    </div>
</div>

@code {
    private string UsernameInput;

    void SubmitUsername()
    {
        Console.WriteLine(UsernameInput);
    }
}